ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #03943a;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 header{
    color: #03943a;
 }
 .karlhenry{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
 }
 .feltalalo{
    width: 285px;
    border: solid gray 1px;
    padding: 5px;
    
    border-radius: 2%;    
 }

h4{
    color: #03943a;
}
img{
    border-radius: 2%;
}
p{
    padding-right: 3px;
    padding-left: 3px;
}
.karlhenry img{
    text-align: center;
    margin: auto;
    border: solid gray 1px;
    padding: 2px;
    border-radius: 2%;
 }
 footer{
    text-align: center;
    color: #03943a;
 }
 .erdekes{
   display: grid;
   grid-template-columns: 2fr 1fr;
 }
 .erdekessegfelsorolas{
   padding: 10px;
 }
 .autok{
   padding-top: 10px;
 }
 table{
  border-collapse: collapse;
  width: 100%;
 }
 td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.tablazaat{
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.tabla{
  padding: 10px ;
}
.forras{
  margin-top: 10px;
}
@media only screen and (max-width: 700px) {
  .karlhenry{
    display: grid;
    grid-template-columns: 1fr;
  }
  
}